.sign_in {
  margin: 2rem 0;
  width: 400px;

  span {
    font-size: 1.1rem;
  }

  .title {
    margin: 2rem 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .sign_in {
    width: 90%;
  }

  .form .button {
    width: 8rem;
  }
}
