.collection {
  display: flex;
  flex-direction: column;
  margin: 0 4.5rem;


  .title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
}
