.checkout_page {
  width: 100%;

  .title {
    text-transform: uppercase;
    margin-left: 5.2rem;
    font-size: 1.1rem;
  }

  .info {
    width: 50%;
    margin: 2rem auto;

    .table {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 1.2rem;

      .table_title {
        width: 21%;
        text-align: center;
      }
    }
    .table_title:last-child {
      width: 10%;
    }

    .table_title:nth-child(2) {
      width: 27%;
    }

    .empty_cart {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }

  .total {
    width: 50%;
    display: flex;
    margin: 3rem auto;
    justify-content: flex-end;
    font-size: 2rem;
  }
}
