.custom_button {
  width: 180px;
  height: 55px;
  background: #000;
  color: white;
  border: none;
  margin-top: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: white;
    color: black;
    border: 1px solid black;
  }

  //if there is google_sign_in class with custom_button
  &.google_sign_in {
    background: #4285f4;
    color: white;

    &:hover {
      background: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background: black;
      color: white;
      border: none;
    }
  }
}
