.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 0.5rem;

  .logo_container {
    margin-left: 6.6rem;
  }

  .options {    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5.5rem;

    .option {
      padding: 10px 15px;
    }
  }
}
