.checkout_page {
  width: 100%;

  .title {
    margin-left: 5.2rem;
  }

  .info {
    width: 50%;
    margin: 2rem auto;

    .table {
      display: flex;
      width: 100%;
      font-size: 1.2rem;

      .table_title {
        width: 21%;
        text-align: center;
      }
    }
    .table_title:last-child {
      width: 10%;
    }

    .table_title:nth-child(2) {
      width: 27%;
    }

    .empty_cart {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }

  .total {
    width: 50%;
    display: flex;
    margin: 3rem auto;
    justify-content: flex-end;
    font-size: 2rem;
  }

  .payment {
    display: flex;
    flex-direction: column;
    align-items: center;

    .test-warning {
      text-align: center;
      color: red;
      font-size: 1.3rem;
    }

    .button {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      margin: 3rem 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .checkout_page {
    font-size: 0.9rem;
    width: 100%;

    .info {
      width: 95%;
    }

    .title {
      margin-left: 1.5rem;
    }

    .total {
      justify-content: center;
    }

    .payment .button {
      justify-content: center;
    }
  }
}
